<!-- Monster by CR tab -->
<div class="qc-tab-panel">
    <h3>{{i18n "tabs.cr"}}</h3>
    <div class="form-group">
        <label for="cr-value">{{i18n "create.crLabel"}}</label>
        <select id="cr-value" name="crValue">
            {{#each crStats}}
            <option value="{{CR}}" data-stats="{{serialized}}">
                CR {{CR}}{{#if example_trunc}} ({{example_trunc}}){{/if}}
            </option>
            {{/each}}
        </select>
    </div>

    <h4>{{i18n "create.saveProfs"}} (<span id="saveBonus">+2</span>)</h4>
    <div class="qc-save-profs flexrow">
        {{#each (arr "str" "dex" "con" "int" "wis" "cha")}}
        <label class="qc-save-toggle">
            <input type="checkbox" id="{{this}}Bonus" class="qc-save-check" />
            <span>{{i18n (concat "abilities." this)}}</span>
        </label>
        {{/each}}
    </div>
</div>
